

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.overlay.active {
  opacity: 1;
  pointer-events: inherit;
}

a.modal-btn {
  display: inline-block;
  padding: 4px 8px;
  background: #6080ff;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.15s ease-in-out;
  border-radius: 6px;
}

.modal {
  width: calc(100% - 40px);
  max-width: 800px;
  height: calc(100vh - 115px);
  max-height: 600px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  background: white;
  transition: 0.15s ease-in-out;
  z-index: 500;
}
.modal.active {
  opacity: 1;
  pointer-events: inherit;
}
.modal .close {
  widtH: 45px;
  height: 45px;
  position: absolute;
  top: -10px;
  left: -10px;
  transform: translate(-100%, -100%);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
@media (max-width: 940px) {
  .modal .close {
    left: 0;
    transform: translate(0%, -100%);
  }
}
.modal .close span {
  display: block;
  widtH: 45px;
  height: 5px;
  background: #FF206E;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 5px 1px black;
}
.modal .close span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal .close span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.modal .wrapper:after {
  content: "";
  font-family: FontAwesome;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  font-size: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  background: rgba(255, 32, 110, 0.35);
  color: rgba(0, 0, 0, 0.35);
}
@media (max-width: 640px) {
  .modal .wrapper:after {
    width: 0%;
  }
}
.modal .wrapper:before {
  content: "";
  font-family: FontAwesome;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  font-size: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 255, 0.35);
  transition: 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.35);
}
@media (max-width: 640px) {
  .modal .wrapper:before {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .modal .wrapper.switch:after {
    width: 100%;
  }
  .modal .wrapper.switch:before {
    width: 0%;
  }
}
.modal .wrapper.switch .content {
  transform: translate(100%, 0);
}
@media (max-width: 640px) {
  .modal .wrapper.switch .content {
    width: 100%;
    transform: translate(0%, 0);
  }
}
.modal .wrapper.switch .content .inner {
  transform: translate(-50%, 0);
}
.modal .wrapper .content {
  width: 50%;
  height: 100%;
  background: white;
  position: relative;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.42, 0, 0.02, 1.21);
  z-index: 100;
}
@media (max-width: 640px) {
  .modal .wrapper .content {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
}
.modal .wrapper .content .inner {
  width: 200%;
  height: 100%;
  position: absolute;
  transition: 0.35s cubic-bezier(0.42, 0, 0.02, 1.21);
  top: 0;
  left: 0;
  display: flex;
}
.modal .wrapper .content .inner .side {
  width: 50%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-widtH: 640px) {
  .modal .wrapper .content .inner .side {
    align-items: flex-start;
  }
}
.modal .wrapper .content .inner .side form .field {
  margin: 10px 0;
}
.modal .wrapper .content .inner .side form .field label {
  font-size: 25px;
}
.modal .wrapper .content .inner .side form .field input[type='submit'] {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  padding: 20px 40px;
  border: none;
  background: #FF206E;
  color: white;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.modal .wrapper .content .inner .side form .field input[type='submit']:hover {
  background: white;
  color: #FF206E;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
}
.modal .wrapper .content .inner .side form .field input[type='text'], .modal .wrapper .content .inner .side form .field input[type='password'], .modal .wrapper .content .inner .side form .field input[type='email'] {
  font-family: "Raleway", sans-serif;
  padding: 0px 0;
  width: 100%;
  font-size: 35px;
  outline: 0;
  border: none;
  background: none;
  border-bottom: 2px solid #ccc;
  transition: 0.15s ease-in-out;
}
.modal .wrapper .content .inner .side form .field input[type='text']:focus, .modal .wrapper .content .inner .side form .field input[type='password']:focus, .modal .wrapper .content .inner .side form .field input[type='email']:focus {
  border-bottom: 2px solid #FF206E;
  box-shadow: 0px 7px 25px 1px rgba(0, 0, 0, 0.15);
}
.modal .options {
  display: flex;
}
.modal .options a {
  widtH: 100%;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.modal .options a:hover {
  color: #FF206E;
}
.modal .options a.active {
  box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.35);
  z-index: 100;
  background: #FF206E;
  color: white;
}



/* Контейнер для кнопки */
.css-modal-target-container {
  height: 60px;
  display:flex;
  align-items:center;
  justify-content:center;
}
/* Кнопка для открытия */
.css-modal-open {
  display: list-item;
    margin: 3px;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    padding: 6px 3px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Roboto', Ð¢ahoma, sans-serif;
    background: #6080ff;
    cursor: pointer;
    border: 2px solid #000;
    overflow: hidden;
    z-index: 1;  
    border-radius: 6px; 
}

.css-modal-open:hover,
.css-modal-open:active,
.css-modal-open:focus {
  color: #FFF;
}
.css-modal-open:before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #2D6B9F;
  transition: transform 0.5s;
  transform: translateX(-100%);
  z-index: -1;
}
.css-modal-open:hover:before,
.css-modal-open:active:before,
.css-modal-open:focus:before {
  transform: translateX(0);
}

/* Контейнер, который затемняет страницу */
.css-modal-target {
  display: none;
}
.css-modal-target:target {
  display:flex;
  align-items:center;
  justify-content:center;    
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: bg 0.5s ease;
  background: rgba(51, 122, 183, 0.7);
}

/* Модальное окно */
.css-modal-target .cmt {
  font-family: Verdana, sans-serif;  
  font-size: 16px;
  padding: 20px;
  width: 80%;
  z-index: 8;
  max-width: 600px;
  max-height: 70%;
  transition: 0.5s;
  border: 6px solid #BFE2FF;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
  text-align: center;
  overflow: auto;
  animation: scale 0.5s ease;
}

/* Кнопка с крестиком закрывающая окно */
.css-modal-close {
  position: relative;
  display: block;
}
.css-modal-close:after {
  content: "";
  width: 50px;
  height: 50px;
  border: 6px solid #BFE2FF;
  border-radius: 12px;
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
  background-color: #FFF;
  background-size: cover;
  animation: move 0.5s ease;
}
.css-modal-close:before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  content: "";
  cursor: default;
}

/* Анимации */
@keyframes scale {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}
@keyframes move {
  0% {
      right: -80px;
  }
  100% {
      right: 20px;
  }
}
@keyframes bg {
  0% {
      background: rgba(51, 122, 183, 0);
  }
  100% {
      background: rgba(51, 122, 183, 0.7);
  }
}



/* слой затемнения */
.dm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* активируем слой затемнения и модальное окно */
.dm-overlay:target {
  display: block;
/* анимация и время задержки */
  -webkit-animation: fade .6s;
  -moz-animation: fade .6s;
  animation: fade .6s;
}
/* блочная таблица */
.dm-table {
  display: table;
  width: 100%;
  height: 100%;
}
/* ячейка блочной таблицы */
.dm-cell {
  display: table-cell;
  padding: 0 1em;
  vertical-align: middle;
  text-align: center;
}
/* модальный блок */
.dm-modal {
  display: inline-block;
  padding: 20px;
/* максимально возможная ширина */
  max-width: 60em;
  background:#ffffff;
/* внешняя тень блока */
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  color: #000000;
  text-align: left;
/* анимация и время задержки */
  -webkit-animation: fade .8s;
  -moz-animation: fade .8s;
  animation: fade .8s;
  overflow-y:scroll;
}





/* слой затемнения */
.dmap-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* активируем слой затемнения и модальное окно */
.dmap-overlay:target {
  display: block;
/* анимация и время задержки */
  -webkit-animation: fade .6s;
  -moz-animation: fade .6s;
  animation: fade .6s;
}
/* блочная таблица */
.dmap-table {
  display: table;
  width: 100%;
  height: 100%;
}
/* ячейка блочной таблицы */
.dmap-cell {
  display: table-cell;
  padding: 0 1em;
  vertical-align: middle;
  text-align: center;
}
/* модальный блок */
.dmap-modal {

  padding: 20px;
  width: 100%;
  height: 70%;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 20px rgb(0 0 0 / 22%), 0px 19px 60px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 15px 20px rgb(0 0 0 / 22%), 0px 19px 60px rgb(0 0 0 / 30%);
  color: #000000;
  text-align: justify;
  -webkit-animation: fade .8s;
  -moz-animation: fade .8s;
  animation: fade .8s;
  overflow-y:scroll;
  display: inline-flex;
}



.prof{
 
    display: flex;

    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
}

.dm-overlay input{

  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;


}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(../images/bg/slider-bg-1.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:#fff;
  border-style: solid;
  border-color: #1161ee;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#1161ee;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#000;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
  border-style: inset;
  border-color:#000 ;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1162ee57;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.serviceaimg{
	padding: 20px;
	margin-top: 40px;
	border:1px solid rgba(0,0,0,0.03);
	box-shadow: 0 0 38px rgba(21,40,82,.07);
}
.serviceaimgimg{
	width: 100%;
  border: 5px solid light;
  height: 200px;
  border-radius: 10px 20px;
}

.serviceaimgdoc{
  width: 100%;
  border: 5px solid light;
  height: 180px;
  border-radius: 12px;
}


.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}